* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content;
    grid-template-areas:
        "   header  header  header"
        "     main main    aside"
        "   footer  footer  footer";
    gap: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .list-menu {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.main {
    grid-area: main;
    background-color: rgb(145, 135, 214);
    padding: 50px;
    text-align: left;
}

.main section + section {
    margin-top: 50px;
}
.list-project,
.list-meeting {
    margin: 10px 10px 20px;
}

.main h3 {
    margin: 10px 0 10px;
}

.aside {
    grid-area: aside;
    background-color: yellowgreen;
    text-align: left;
    padding: 50px;
}

.cont-channel li {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.footer {
    grid-area: footer;
    background-color: coral;
    padding: 30px;
}
